.game-board {
    text-align: center;
}

.hidden {
    font-size: 20px;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(231, 242, 104);
}

.zeroStyle {
    font-size: 20px;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.oneStyle {
    font-size: 20px;
    color: aqua;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.twoStyle {
    font-size: 20px;
    color: firebrick;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.threeStyle {
    font-size: 20px;
    color: darkkhaki;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.fourStyle {
    font-size: 20px;
    color: deeppink;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.fiveStyle {
    font-size: 20px;
    color: darkorchid;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.sixStyle {
    font-size: 20px;
    color: darkgoldenrod;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.sevenStyle {
    font-size: 20px;
    color: darkblue;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.eightStyle {
    font-size: 20px;
    color: coral;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(251, 252, 240);
}

.bombStyle {
    font-size: 20px;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: wheat;
}

.win {
    font-size: 20px;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: rgb(231, 242, 104);
}

.lose {
    font-size: 20px;
    margin: 5px 5px;
    width: 45px;
    height: 45px;
    vertical-align: top;
    background-color: darkred;
}

.playAgainButtonHidden {
    display: none;
}

.playAgainButtonVisible {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 18px;
    /*color: rgb(255, 255, 255);*/
    background-color: rgb(231, 242, 104);
    /*border-color: rgb(255, 255, 255);*/
}

.saveResultButtonHidden {
    display: none;
}

.saveResultButtonVisible {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: 10px 10px;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 20px;
    /*color: rgb(255, 255, 255);*/
    background-color: rgb(231, 242, 104);
    /*border-color: rgb(255, 255, 255);*/
}

.timer {
    margin-top: 5%;
    display: inline-block;
}

.header {
    width: 100%;
    background-color: #e6f268;
    position: relative;
}

.nav
{
    padding: 10px 0;
    margin-top: 7px;
    text-align: center;
    z-index: 10;
    position: absolute;
}

.mainTitle
{
    width: 100%;
    background-color: #e6f268;
    text-align: center;
    z-index: 2;
    position: absolute;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: #000000;
    text-decoration: none;
    display: block;
}

ol > li
{
    float: left;
    width: 80px;
    height: 40px;
}

ol > li:hover
{
    background-color: #e6f268;
}

ol > li:hover > a
{
    color: #4d5213;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li
{
    background-color: #e6f268;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #8f963b;
}

ol > li > ul > li:hover
{
    background-color: #f0f5bc;
}

ol > li > ul > li:hover > a
{
    color: #4d5213;
}